@charset "utf-8";
/////////////////////////////////////////
// Layout
/////////////////////////////////////////
@import "../config/config";
@import "../mixin/mixin";

////////////////////////
// wrapper
////////////////////////
.container{
	margin: 0 auto;
}
.contents{
	margin: 0 auto;
	max-width: 120vh;
	min-width: 320px;
	padding: .56rem 0;
	width: 92%;
}

////////////////////////
// Column
////////////////////////
.layout-2column{
	@include flex-container(row, wrap, stretch, flex-start);
	@include mq(xs) {
		@include flex-direction(column);
	}
	@include mq(sm) {
		@include flex-direction(column);
	}
	.sub{
		@include flex(1 1 100%);
		@include flex-basis((100/12)*3%);
		padding:10px;

		@include mq(xs) {
			@include order(5);
		}
		@include mq(sm) {
			@include order(5);
		}
	}
	.main{
		@include flex(1 1 100%);
		@include flex-basis((100/12)*9%);
		padding: 10px;
		@include mq(xs) {
			@include order(1);
		}
		@include mq(sm) {
			@include order(1);
		}
	}
}