@charset "utf-8";
/////////////////////////////////////////
// Slider
/////////////////////////////////////////
@import "config/config";
@import "mixin/mixin";

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.slider{
	box-sizing: border-box;
	scrollbar-color: transparent transparent; /* thumb and track color */
	scrollbar-width: 0px;
	-ms-overflow-style: none;
	position: relative;
	overflow: hidden;
	margin: 0 -2vw;

	*::-webkit-scrollbar {
		display: none;
	}
	*::-webkit-scrollbar-track {
		background: transparent;
	}
	*::-webkit-scrollbar-thumb {
		background: transparent;
		border: none;
	}
	* {
		-ms-overflow-style: none;
	}
	*{
		scrollbar-width: 0px;
		scrollbar-color: transparent transparent;
	}

	/*ol*/
	.slider__viewport{
		display: flex;
		overflow-x: scroll;
		counter-reset: item;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		padding: 0;
		width: 100%;
		scrollbar-width: 0px;
		scrollbar-color: transparent transparent;
	}
	/*li*/
	.slider__slide{
		position: relative;
		flex: 0 0 100%;
		height: 30vh;
		margin: 0;
		padding: 0 2vw;
		width: 80%;
		counter-increment: item;
		list-style: none;
		scrollbar-width: 0px;
		scrollbar-color: transparent transparent;

		&::before {
			content: counter(item);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-40%,70px);
			color: #fff;
			font-size: 2em;
		}
		&:focus{
			outline: none;
		}
		.slider__snapper {
			background: #f0f0f0;
			width: 100%;
			height: 100%;
			scroll-snap-align: center;
		}
		@media (hover: hover) {
			.carousel__snapper {
				animation-name: tonext, snap;
				animation-timing-function: ease;
				animation-duration: 4s;
				animation-iteration-count: infinite;
			}
			.carousel__slide:last-child .carousel__snapper {
				animation-name: tostart, snap;
			}
		}
		@media (prefers-reduced-motion: reduce) {
			.carousel__snapper {
				animation-name: none;
			}
		}
		&:hover,
		&:focus-within{
			.carousel__snapper {
				animation-name: none;
			}
		}
		.slider__prev,
		.slider__next {
			background: #fff;
			border-radius: 50%;
			@include font-size(0);
			@include flex-container(row, wrap, stretch, center);
			@include justify-content(center);
			line-height: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			height: .32rem;
			width: .32rem;
			text-decoration: none;

			&:hover{
				border-bottom: 0.04rem $color-border solid;
				box-shadow: 0 0.02rem 0.04rem $color-border;
				text-decoration: none;
			}
			&::before {
				color: $color-text;
				@include font-size(16);
				line-height: 1;
				@include flex-container(row, wrap, stretch, center);
				@include justify-content(center);

				color: #000;
				font-family: "fontello";
				font-style: normal;
				font-weight: normal;
				speak: none;
				/*display: inline-block;*/
				text-decoration: inherit;
				font-variant: normal;
				-webkit-font-smoothing: antialias;
				text-transform: none;
				height: .32rem;
				outline: 0;
				text-decoration: none;
				width: .32rem;
			}
		}
		.slider__prev {
			content: '\e850';
			left: 0.4vw;
			&::before {
				@include icon-font('\f104');
			}
		}
		.slider__next {
			content: '\e851';
			right: 0.4vw;
			&::before {
				@include icon-font('\f105');
				margin: 0 0 0 0.024rem;
			}
		}
	}
	.slider__navi {
		@include flex-container(row, nowrap, stretch, center);
		@include justify-content(center);
		line-height: 1;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;


		.slider__navi-list,
		.slider__navi-item {
			display: inline-block;
			line-height: 1;

			opacity: .4;
			&:hover{
				opacity: 1;
			}

		}
		/*●*/
		.slider__navi-button {
			display: inline-block;
			width: .1rem;
			height: .1rem;
			background-color: #333;
			background-clip: content-box;
			border: .01rem #fff solid;
			border-radius: 50%;
			font-size: 0;
			margin: 0 .05rem;
			transition: transform 0.1s;
			overflow: hidden;
		}
	}
}
